@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --main1: #515151;
    --main2: #f9b313;
    --main3: #707070;
    --main4: #fff;
    --main5: #f9b51b;
    --main-text: #677f95;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
}

.section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    padding: 50px 0;
}
a{
    text-decoration: none;
}
button{
    border: none;
}
H1,h5{
	color: var(--main1);
}

/* ======================== */
/*        PRELOADER         */
/* ======================== */

#btn-mas{
    display: none;
}

.contenedor{
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
}

.redes a, .uil-plus{
    display: block;
    text-decoration: none;
    background-color: var(--main3);
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.uil-plus{
    cursor: pointer;
    background: #f44141;
    font-size: 23px;
}

.redes a:hover{
    background: #fff;
    color: var(--main3);
}

.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

#btn-mas:checked~ .btn-mas .uil-plus{
    transform: rotate(137deg);
    font-size: 25px;
}

#preloader{ 
    background: #ffff;  
    height: 100vh;
    width: 100%;
    position: fixed;
	z-index: 2;
}

#preloader p{
    width: 100%;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
    color: var(--main1);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    transform: translate(-50%, -50%);
}

.span-texto{
    color: var(--main2);
	font-weight: 800;
}

.gradu{
    position:absolute;
    height:200px;
    width:200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    animation: zoom 2s infinite;
}
  
.gradu_move{
	position:absolute;
	height:250px;
	width:250px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.footer-preloader{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--main1);
    color: white;
    text-align: center;
    padding: 20px;
    
}
/* =========================================== */


/* Redes sociales flotantes */
.wsp, .msg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

.wsp{
    background-color:#25d366;
    bottom:30px;
    right:10px;
    animation: zoom 2s infinite;
}

.msg{
    background-color:#0000ff;
    bottom:100px;
    right: 10px;;
    animation: zoom 2s infinite;
}

.wsp i, .msg i{
    font-size: 30px;
    color: white;
}

/* ======================== */
/*          NAVBAR          */
/* ======================== */
.navbar{
    max-width: auto;
}

nav, .offcanvas {
    background-color: var(--main1);
}

.navbar-nav .nav-link {
	font-weight: 600;
	color: var(--main2);
	border-radius: 15px;
	padding-left: 15px;
}
.navbar-nav .nav-link:hover {
    color: var(--main1);
	background: var(--main2);
}
.navbar-nav .nav-link.active {
	color: var(--main1);
	background: var(--main2);
}
.navbar-toggler, .btn-close {
  	border: none;
	border-color: transparent;
}
.navbar-toggler:focus, .btn-close:focus{
	outline: none;
	box-shadow: none;
}

.uil-bars{
    color: white;
    font-size: 2rem;
}
/* =========================================== */

/* ======================== */
/*          INICIO          */
/* ======================== */
.img_inicio{
    width: 280px;
    height: 450px;
}

.btn-gray{
    border-radius: 10px;
    background-color: var(--main1);
    color: var(--main2);
}

.btn-yellow{
    border-radius: 10px;
    background-color: var(--main2);
    color: var(--main1);
}

.contadores{
    flex-direction: column;
}

.carousel-item{
    text-align: center;
}

@media screen and (min-width: 995px) {
	.navbar{
		padding: .5rem 3rem;
	}
    .img_inicio{
        width: 250px;
        /* margin-top: 50px; */
        margin-left: 20px;
    }
    .wsp, .msg{
        right:30px;
    }
    .contadores{
        flex-direction: row;
    }
    .contenedor{
        display: block;
        z-index: 1;
    }
    
}

@media screen and (min-width: 470px) {
    .contadores{
        flex-direction: row;
    }
}








/*CARD*/




.nssectioncard {
    padding: 10vh;
}

.container-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.item-container {
    width: 250px;
    height: 350px;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    border-radius: 15px;
}

.item-img {
    height: 100%;
    width: auto;
    min-width: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.hover-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    padding-top: 60%;
    background-image: linear-gradient(0, rgb(0, 0, 0, 0.9), transparent);
    color: white;
    opacity: 0;
    transition: opacity 0.45s, height 0.5s;
}

.item-container:hover > .hover-container {
    opacity: 1;
    pointer-events: all;
    height: 100%;
}

.hover-header {
    width: 50%;
    font-size: 20px;
}

.hover-btn {
    width: 40%;
    color: black;
    display: grid;
    place-items: center;
    border-radius: 15px;
    background-color: white;
    height: 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    box-sizing: content-box;
    padding: 5px 10px;
}

.hover-description {
    width: 100%;
    font-size: 14px;
}












@media screen and (max-width: 768px) {
    .nssectioncard {
        padding: 5vh;
    }

    .container-container {
        justify-content: center;
    }

    .item-container {
        width: 200px;
        height: 300px;
    }

    .hover-container {
        padding-top: 50%;
    }

    .hover-header {
        font-size: 18px;
    }

    .hover-btn {
        width: 45%;
        height: 25px;
        font-size: 12px;
    }

    .hover-description {
        font-size: 12px;
    }
}

/* Estilos para dispositivos con un ancho máximo de 576px */
@media screen and (max-width: 576px) {
    .nssectioncard {
        padding: 3vh;
    }

    .item-container {
        width: 150px;
        height: 250px;
    }

    .hover-container {
        padding-top: 40%;
    }

    .hover-header {
        font-size: 16px;
    }

    .hover-btn {
        width: 50%;
        height: 20px;
        font-size: 10px;
    }

    .hover-description {
        font-size: 10px;
    }
}







/*SERVICOS*/
/* .sectionns{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    padding: 50px 0;
} */
/* .text-justify {
    text-align: justify;
} */
.section-slider{
    max-width: 300px;
    margin: 0 auto;
    padding: 0 2rem;
    /* height: 100vh; */
    padding: 50px 0;
  }
  
  
  .titulo{text-align: center;}
  
  .nssection {
      display: flex;
      /* justify-content: space-between; */
      align-items: center;
    }
    
    .nstitle {
      /* flex-basis: 30%; */
      flex-basis: 50%;
      /* text-align: left; */
      text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-right: 10px;
        padding-left: 130px; */
        padding-right: 10px;
        padding-left: 130px;
        
    }
    
    .nsdescription {
      flex-basis: 50%;
      /* text-align: right; */
      text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-right: 180px;
        padding-left: 70px; */
        padding-right: 100px;
        /* padding-left: 250px; */
    }
  
  
    .title-section {
      flex-basis: 100%;
      text-align: center;
    }
  
  
    @media screen and (max-width: 767px) {
  .nssection {
  flex-direction: column;
  }
  
  .nstitle, .nsdescription {
  text-align: center;
  padding-right: 30px;
  padding-left: 20px;
  }
  }